# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/
env/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Datasets
data/

# Model checkpoints
checkpoints/
*.pth
*.pt